<div class="container" >
    <div class="kore">
        <img src="assets\KORE_Wireless_company_logo.svg.png" style="height: 80px;margin-left: 5px;" alt="">
    </div>
    <div class="deal">
        <img src="assets\deal.jfif" style="border-radius: 50%;width: 300px;height: 300px;">
    </div>
    <div class="fo">Innovative</div>

    <div class="ty" >-------------------------------------------------Combining the capacity of large global providers with the velocity of a tight team, we get more of the right thing done faster.</div>
    <br><button class="btn btn-primary " name="agile" (click)="btnclick()" >O yeah</button>
</div>